.text-center{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
}
.border{
    border: 1px solid blue;
    width: 600px;
    height: 200px;
    border-radius: 8px;
    margin: 20px auto;
}
.text-secondary{
    font-size: 30px; 
    text-align: center;
    padding: 20px;
}
.btn-container{
    margin: 50px 0;
}
.btn{
    background-color: blue;
    color: white;
    margin: 0px 30px;
    width: 60px;
    height: 30px;
    border-radius: 8px;
}